# =========================
# Environnements virtuels
# =========================
.venv/
venv/
env/

# =========================
# Cache Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Fichiers modèles ML
# =========================
model/
*.pkl
*.joblib

# =========================
# Fichiers temporaires
# =========================
*.log
*.tmp
*.swp
*.swo

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# VSCode
# =========================
.vscode/

# =========================
# PyCharm
# =========================
.idea/

# =========================
# Fichiers de test générés
# =========================
test_result.csv

# =========================
# Coverage / pytest
# =========================
.coverage
htmlcov/
.pytest_cache/
